@use "../../../../styles/vars";

.chat-element {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4rem;
  padding-left: 1rem;

  &__img {
    width: 15%;

    & img {
      width: 3rem;
      height: 3rem;

      border-radius: 50%;

      background-color: vars.$color-darker-gray;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 85%;
    height: 100%;
    margin-left: .5rem;
    padding: 1rem 1rem 1rem 0;

    border-bottom: .1rem solid vars.$color-darker-gray;
  }

  &__message {
    font-size: map-get(vars.$font-sizes, 7);
  }

  &__time {
    position: absolute;
    top: .5rem;
    right: .5rem;

    font-size: map-get(vars.$font-sizes, 7);
    color: vars.$color-light-blue;
  }
}