@use "../../styles/vars";

.chat {
  width: 70%;
  height: 100%;

  background-color: vars.$color-light-yellow;

  font-size: map-get(vars.$font-sizes, 7);

  overflow: hidden;

  &-header {
    height: 3.5rem;
    padding: .5rem 1rem;

    display: flex;
    align-items: center;

    background-color: vars.$color-gray;

    font-size: map-get(vars.$font-sizes, 6);

    &__img {
      margin-right: 1rem;

      & img {
        width: 2.5rem;
        height: 2.5rem;

        background-color: vars.$color-light-blue;

        border-radius: 50%;
      }
    }
  }

  &__container {
    position: relative;

    height: calc(100% - 7.5rem);
    width: 100%;
    padding: 1rem 4rem;

    display: flex;
    flex-direction: column-reverse;

    overflow-y: scroll;
  }

  &-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__date,
    &__message,
    &__info {
      padding: .5rem;
      margin-bottom: .5rem;

      & span:first-child {
        padding: .5rem 1rem;
        border-radius: .5rem;

        background-color: white;
      }
    }

    &__date,
    &__info {
      margin: 0 auto;

      filter: drop-shadow(0 .2rem .1rem vars.$color-shadow);
    }

    &__time {
      position: absolute;
      right: 1rem;
      bottom: .3rem;

      font-size: map-get(vars.$font-sizes, 8);

      color: vars.$color-light-blue;
    }

    &__message {
      position: relative;

      & span:first-child {
        position: relative;
        padding: .5rem 2.5rem .5rem .5rem;

        &::before {
          content: "";
          position: absolute;
          top: 0;

          width: 1rem;
          height: 1rem;

          background-color: white;
        }
      }

      &_outgoing {
        text-align: right;

        filter: drop-shadow(-.05rem .2rem .1rem vars.$color-shadow);

        & span:first-child {
          background-color: vars.$color-pale-green;

          &::before {
            right: -.5rem;

            clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%);

            background-color: vars.$color-pale-green;
          }
        }
      }

      &_incoming {
        text-align: left;

        filter: drop-shadow(.05rem .2rem .1rem vars.$color-shadow);

        & span:first-child {
          &::before {
            left: -.5rem;

            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 50%);
          }
        }
      }
    }
  }

  &-form {
    height: 4rem;
    padding: .5rem 1rem;

    display: flex;
    align-items: center;

    font-size: map-get(vars.$font-sizes, 6);

    background-color: vars.$color-gray;

    &__input {
      width: 95%;
      padding: .5rem 1rem;
      margin-right: 1.2rem;

      outline: none;
      border: none;
      border-radius: .5rem;
    }

    &__submit {
      font-size: map-get(vars.$font-sizes, 4);
      color: vars.$color-light-blue;

      opacity: .5;

      cursor: pointer;

      transition: .2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}