$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$mini-font-size: $font-size-base * .8;
$micro-font-size: $font-size-base * .6;

$font-sizes: (
        1: $h1-font-size,
        2: $h2-font-size,
        3: $h3-font-size,
        4: $h4-font-size,
        5: $h5-font-size,
        6: $h6-font-size,
        7: $mini-font-size,
        8: $micro-font-size,
);

$color-green: #00A884;
$color-pale-green: #D9FDD3;
$color-light-green: #25d366;
$color-gray: #F0F2F5;
$color-darker-gray: #d9dbde;
$color-scrollbar: #cccfd0;
$color-warm-gray: #E4E3DE;
$color-cold-gray: #D1D7DB;
$color-shadow: #35353510;
$color-light-blue: #667781;
$color-shadow-1: #727274;
$color-shadow-2: #cccdd1;
$color-shadow-3: #f3f4f8;
$color-shadow-4: #ffffff;
$color-light-yellow: #EFEAE2;
$color-success: #2fff81;
$color-success-background: #2fff8133;
$color-error: #a00000;
$color-error-background: #a0000033;
$color-warning: #ff8a15;
$color-warning-background: #ff8a1533;
$color-info: #9e9e9e;
$color-info-background: #9e9e9e33;
$color-hint: #0092cc;
$color-hint-background: #0092cc33;